:root{
  --width: 380px;
  --height: 567px;
  --img: url(./img/back.png)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier;
  
}
section {
  width: 100%;
  height: 100vh;
}

.PortadaL {
  width: 100%;
  height: 100vh;
  background: #00000080;
}

.contenedor-portada-libro {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  min-height: 100vh;
  overflow: hidden;
}
.contenedor-portada-libro .libro {
  width: var(--width);
  height: var(--height);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  transition: 1.5s;
}

.contenedor-portada-libro .libro:hover {
  transform: rotateY(65deg);
  box-shadow: 0 20px 20px #00000033;
}
.contenedor-portada-libro .libro:active {
  transform: rotateY(180deg);
}

.contenedor-portada-libro .libro::before {
  content: "";
  width: 60px;
  height: 100%;
  position: absolute;
  transform-origin: left;
  top: 0;
  left: 0;
  background: url(./img/side.png);
  background-position: center;
  transform: rotateY(90deg);
}

.contenedor-portada-libro .libro::after {
  content: "";
  width: var(--width);
  height: var(--height);
  position: absolute;
  transform-origin: center;
  top: 0;
  left: 0;
  background: var(--img);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  transform: rotateY(180deg) translateZ(60px);
}

.contenedor-portada-libro .libro img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  :root{
    --width: 300px;
    --height: 460px;
    --img: url(./img/back2.png)
  }
}