* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier;
  
}
section {
  width: 100%;
  height: 100vh;
}


.PortadaL {
  width: 100%;
  height: 100vh;
  background: #00000080;
}

.contenedor-portada-libro {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  perspective: 1000px;
  min-height: 100vh;
  overflow: hidden;
}
.contenedor-portada-libro .libro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 383px;
  height: 567px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  background-position: center;
  transform-style: preserve-3d;
  transition: 1.5s;
}

.contenedor-portada-libro .libro:hover {
  transform: rotateY(45deg);
  box-shadow: 0 20px 20px #00000033;
}
.contenedor-portada-libro .libro:active {
  transform: rotateY(180deg);
}

.contenedor-portada-libro .libro::before {
  content: "";
  width: 60px;
  height: 100%;
  position: absolute;
  transform-origin: left;
  top: 0;
  left: 0;
  background: url(./img/side.png);
  background-position: center;
  transform: rotateY(90deg);
}

.contenedor-portada-libro .libro::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: center;
  top: 0;
  left: 0;
  background: url(./img/back.png);
  background-position: center;
  transform: rotateY(180deg) translateZ(60px);
}

.contenedor-portada-libro .libro img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  :root{
    --size: 200px;
  }
}